# Build
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
*.log
!sample.log

# Visual Studio / VS Code / Rider
.vs/
*.user
*.userosscache
*.suo
*.sln.docstates
*.rsuser
.idea/
*.DotSettings.user

# NuGet
*.nupkg
**/packages/*
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

# MSTest / test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# Publish
publish/
*.publishproj
*.pubxml
*.pubxml.user

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp

# JetBrains
_ReSharper*/
*.[Rr]e[Ss]harper

# Others
*.tmp
*.temp
*.cache
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp_proj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
